# Multivariate Analysis (Exploratory Data Analysis) - Exercise 2

## 1. Defining the Question

### a) Specifying the Data Analytic Question

> A car sales person would like to know whether a certain dealer is offering fair value of his trade-ins. To help this car dealer, create a model to predict the price of a car using the variables in the given dataset. The outcome would give an objective idea of how much the car should cost. Apply facotr analysis while developing your model.

### b) Defining the Metric for Success

### c) Understanding the context

### d) Recording the Experimental Design

### e) Data Relevance

## 2. Reading the Data

In [ ]:
# Loading the Data from the source i.e. csv
# ---
url = "http://bit.ly/AutoDataset"
import pandas as pd
import numpy as np
auto=pd.read_csv('http://bit.ly/AutoDataset')

## 3. Checking the Data

In [ ]:
# Determining the no. of records in our dataset
n=len(auto)
n

201

In [ ]:
# Previewing the top of our dataset
auto.head()

   symboling  normalized-losses         make  ... horsepower-binned diesel gas
0          3                122  alfa-romero  ...            Medium      0   1
1          3                122  alfa-romero  ...            Medium      0   1
2          1                122  alfa-romero  ...            Medium      0   1
3          2                164         audi  ...            Medium      0   1
4          2                164         audi  ...            Medium      0   1

[5 rows x 29 columns]

In [ ]:
# Previewing the bottom of our dataset
auto.tail()

     symboling  normalized-losses   make  ... horsepower-binned diesel gas
196         -1                 95  volvo  ...            Medium      0   1
197         -1                 95  volvo  ...              High      0   1
198         -1                 95  volvo  ...            Medium      0   1
199         -1                 95  volvo  ...            Medium      1   0
200         -1                 95  volvo  ...            Medium      0   1

[5 rows x 29 columns]

In [ ]:
# Checking whether each column has an appropriate datatype
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    int64
 2   make               201 non-null    object
 3   aspiration         201 non-null    object
 4   num-of-doors       201 non-null    object
 5   body-style         201 non-null    object
 6   drive-wheels       201 non-null    object
 7   engine-location    201 non-null    object
 8   wheel-base         201 non-null    float64
 9   length             201 non-null    float64
 10  width              201 non-null    float64
 11  height             201 non-null    float64
 12  curb-weight        201 non-null    int64
 13  engine-type        201 non-null    object
 14  num-of-cylinders   201 non-null    object
 15  engine-size        201 non-null    int64
 16  fuel-system        201 non-null    object
 17  bore               201 non-null    float64
 18  stroke             197 non-null    float64
 19  compression-ratio  201 non-null    float64
 20  horsepower         201 non-null    float64
 21  peak-rpm           201 non-null    float64
 22  city-mpg           201 non-null    int64
 23  highway-mpg        201 non-null    int64
 24  price              201 non-null    float64
 25  city-L/100km       201 non-null    float64
 26  horsepower-binned  200 non-null    object
 27  diesel             201 non-null    int64
 28  gas                201 non-null    int64
dtypes: float64(11), int64(8), object(10)
memory usage: 45.7+ KB

## 4. External Data Source Validation

Making sure your data matches something outside of the dataset is very important. It allows you to ensure that the measurements are roughly in line with what they should be and it serves as a check on what other things might be wrong in your dataset. External validation can often be as simple as checking your data against a single number, as we will do here.

An example would be suppose that you're working with a dataset on the population of countries during the year 2016. Validating such information with an external reliable resource such as World Bank Data would be important step to providing credibility to your dataset. Have a look at the following link for an example. [Link](https://rstudio-pubs-static.s3.amazonaws.com/182250_19977d0c5c06403fbad1e653850fc7c6.html).

### a.Validation

## 5. Tidying the Dataset

In [ ]:
# Checking for Outliers
#

In [ ]:
# Checking for Anomalies
#

In [ ]:
# Identifying the Missing Data
#

In [ ]:
# Dealing with the Missing Data
#

In [ ]:
# More data cleaning procedures
#

## 6. Exploratory Analysis

In [ ]:
# Ploting the bivariate summaries and recording our observations
#

In [ ]:
# Data Reduction
#

## 7. Implementing the Solution

In [ ]:
# Implementing the Solution
#

## 8. Challenging the solution

> The easy solution is nice because it is, well, easy, but you should never allow those results to hold the day. You should always be thinking of ways to challenge the results, especially if those results comport with your prior expectation.

In [ ]:
# Reviewing the Solution 
#

## 9. Follow up questions

> At this point, we can refine our question or collect new data, all in an iterative process to get at the truth.

### a). Did we have the right data?

### b). Do we need other data to answer our question?

### c). Did we have the right question?